body {
  background: #f7f7f7;
  padding: 0;
  margin: 0;
  font: 10px 'Raleway', sans-serif;
  color: #000;
}

h1 {
  font: 40px 'Changa One', sans-serif;
  text-align: center;
  word-wrap: break-word;
  padding: 0 20px;
}

.allgroups {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.group {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #28b69e;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 5px;
  opacity: 1;
  animation: fadeIn 200ms ease-in-out 1;
}

.group:nth-child(1) { background-color: #f2b629; }
.group:nth-child(2) { background-color: #f6802e; }
.group:nth-child(3) { background-color: #e6482d; }

.group__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-top: 5px;
  word-wrap: break-word;
  padding-top: 10px;
  line-height: 0.9;
  opacity: 1;
  animation: fadeIn 200ms ease-in-out 1;
}

.group__info {
  display: flex;
  flex-direction: column;
}

.group__total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.group__totalperseller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  width: 40px;
  height: 25px;
  border-radius: 50px;
  background-color: #ff33cf;
}

.group__total > p:first-child {
  display: block;
}

.group__ranking {
  padding-left: 15px;
}

.group__ranking img {
  width: 45px;
  height: 45px;
}

.group__ranking--trophy {
  animation: pop 800ms ease 1;
  animation-fill-mode: backwards;
}

.group:nth-child(1) .group__ranking--trophy {
  animation-delay: 300ms;
}

.group:nth-child(2) .group__ranking--trophy {
  animation-delay: 500ms;
}

.group:nth-child(3) .group__ranking--trophy {
  animation-delay: 700ms;
}

.group__rankingnumber {
  position: absolute;
  margin-top: -50px;
  margin-left: 17px;
  font-size: 15px;
  line-height: 2;
  font-weight: 700;
  font-family: 'Raleway';
  color: #fff;
}

.group__ranking--star .group__rankingnumber {
  margin-top: -38px;
  margin-left: 18px;
}

.group__ranking--star--bignum .group__rankingnumber {
  margin-top: -38px;
  margin-left: 14px;
}

.group__achievements {
  display: flex;
  flex-flow: row;
  padding-bottom: 3px;
  opacity: 1;
  animation: fadeIn 200ms ease-in-out 1;
}

.group__badges, .group__stamps {
  display: flex;
  flex-flow: row;
}

.group__badges img, .group__stamps img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  width: 25px;
  height: 25px;
}

.tooltip {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto';
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-top: 3px;
  margin-left: -28px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.group__badges div:hover .tooltiptext, .group__stamps div:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes pop {
  0% { transform: scale(0); }
  30% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
